*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav a{
    text-decoration-line: none;
    color: rgb(4, 131, 93);
    padding: 15px;
}

.left {
    color: rgb(4, 131, 93);
    padding: 20px 45px;
}

.right {
    padding: 20px;
}

.page1{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: rgb(74, 112, 108);
    color: white;
    gap: 45px;
    padding: 34px;
}

h1{
    font-size: 4.3rem;
    font-weight: 600;
}

.images{
    width: 50%;
    height: 950px;
    object-fit: cover;
    min-width: 50%;
} 

.b{
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    width: 140px;
    height: 40px;
    color: rgb(74, 112, 108);
    transition: background-color 0.3s;
}

.b:hover {
    background-color: rgb(74, 112, 108);
    color: white;
    border: 1px solid white;
}

a{
    cursor: pointer;
    text-decoration-line: none;
}

.flex {
    display: flex;
}

.page4 {
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: white;
    color:  rgb(74, 112, 108);
    gap: 45px;
    padding: 34px;
}

.b1 {
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    background-color: white;
    width: 140px;
    height: 40px;
    color: rgb(74, 112, 108);
    transition: background-color 0.3s;
}

.b1:hover {
    background-color: rgb(74, 112, 108);
    color: white;
}

p {
    font-size: 1.1rem;
    color: rgb(74, 112, 108);
}

.h11{
    display: flex;
    width: 450px;
    font-size: 3.2rem;
    color: rgb(74, 112, 108);
    padding-top: 70px;
}

.page5 {
    display: flex;
    width: 50%;
    height: 950px;
    flex-direction: column;
    color: rgb(74, 112, 108);
    gap: 45px;
    padding: 34px;
    background-color: white;
}

.icon {
    display: flex;
    width: 40px;
    height: 60px;
    color: rgb(0, 0, 0);
}

.section {
    display: flex;
    justify-content: start ;
    align-items: end;
    flex-direction: column;
    margin: 50px 40px 20px 335px;
}

.h3{
    text-align: center;
}
.main6{
    width: 440px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin: 50px 40px 20px 335px;
    background-color: white;
}

#main {
    background-color: rgb(74, 112, 108);
    flex-direction: column;
    padding-top: -15;
}

.test{
    display: flex;
    align-items: center;
    gap: 20px;
}

.images2{
    width: 413px;
    height: 482px;
    object-fit: cover;
    position: relative;
    margin: 0px 0px 0px calc((100% - 490px) * 1);
}

.page6 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    margin-right: 100px ;
    gap: 100px;
    height: 300px;
}
